body {
    font-family: sans-serif;
    /* background: #f2f2f2; */
    margin: 0;
    padding: 2rem;
}

.dashboard-container {
    background: rgb(245, 244, 244);
    padding: 2rem;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

.dashboard-container #top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
#logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #c0392b;
}

#dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-family: Arial, sans-serif;
    border-radius: 12px;
}

.welcome-message {
    font-size: 1.2rem;
    font-weight: bold;
}

#user-info {
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 49%;
}

#user-info h1 {
    width: 10em;
    text-align: center;
    padding: 0.5em;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-flex {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 1em;
    /* Optional: wraps on smaller screens */
}

.chart-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid; */
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
    padding: 0.5em;
    text-align: center;
    margin-left: 1em;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

#audit-ratio-container {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    align-self: flex-start;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

#audit-ratio-container #left {
    margin-bottom: 10px;
    width: 40%;
    align-self: flex-start;
    margin: 1em;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding-left: 0.5em;
}

#audit-ratio-container #right {
    margin-bottom: 10px;
    width: 100%;
    align-self: flex-start;
    margin-left: 10px;
}